@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Conversion.Models.ViewModel


@{
    ViewBag.Title = "ConvertGallons";
}
<center>
	@using (Html.BeginForm("convertgallons", "Home", FormMethod.Post))
	{
		<div>
		</div>
		<div>
			<p class="italic">
				@Html.LabelFor(x => x.Input, "unit:")
			</p>
			@Html.TextBoxFor(x => x.Input)
		</div>
		<div>
			<br />
			<p class="italic">
				@Html.LabelFor(x => x.Option, "convert to ")
			</p>
			@Html.DropDownListFor(x => x.Option, new List<SelectListItem>
{
new SelectListItem {Text = "Liters  ", Value = "1"},
new SelectListItem {Text = "Gallons  ", Value = "2"}
})
			<br /><br/>
		</div>
		<div>
			<br />
			<button class="button" type="submit" autofocus>convert</button><br /><br />
		</div>
	}
	@if (Model.ShowResult)
	{<div class="result">
			<p class="italic">@Model.OptionName : </p><p class="large">@Model.Input = @Model.Result</p>
		</div>
	}
</center>